.app{
  width: 100vw;
}


main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section{
  width: 100vw;
  height: 100vh;
}

.book, .bookimage{
  width: 20%;
  height: 30%;

}