.app{
  width: 100vw;
}

nav{
  width: 100vw;
  padding: .3em;
}

ul{
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
}


ul p{
  margin-left: 2em;
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section{
  width: 100vw;
  height: 100vh;
}

.book, .bookimage{
  width: 20%;
  height: 30%;

}